body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background: #aaa;
  background: linear-gradient(to right, #aaa, #ccc, #aaa);
}

#root {
  height: 100vh;
}

.Tilt {
  background: #12c2e9;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

.navbar {
  opacity: 0.85;
}

.main-container {
  padding-top: 56px;
}

.bold {
  font-weight: bolder;
}

.particles {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.form {
  font-size: 1.25rem;
}

.transparent {
  background: rgba(2, 2, 31, 0.07);
}

.welcome-message {
  word-wrap: break-word;
}

.text_error {
  line-height: 1rem;
  font-size: 0.85rem;
  color: #940914;
  font-weight: bold;
  text-transform: uppercase;
}

.absolute {
  position: absolute;
}

table.ranking-table {
  font-size: 1.25rem;
  thead {
    th {
      text-transform: uppercase;
    }
  }
  tbody {
    td {
      text-transform: capitalize;
    }
  }
}

.page-item {
  background-color: transparent;
  width: 55px;
  text-align: center;
  .page-link {
    background-color: transparent;
    &:hover {
      cursor: pointer;
    }
  }
}

.bounding-box {
  position: absolute;
  box-shadow: 0 0 0 3px #149df2 inset;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;

  .bounding-box-concepts {
    position: absolute;
    top: 0;
    left: 0;
    transform: translateY(-100%);

    .bounding-box__concept {
      background: #149df2;
      color: #fff;
      white-space: nowrap;
      font-size: 0.75rem;
      line-height: 0.75rem;
      display: flex;
      align-items: baseline;
      font-weight: 700;
      padding: 1px 3px;
      border-radius: 2px 2px 0 0;

      .concept__name {
        text-transform: capitalize;
        color: #fff;
      }

      .concept__prediction-val {
        color: #fff;
        font-size: 0.625rem;
        margin-left: 0.5rem;
      }
    }
  }
}

img.gallery-item {
  width: 100%;
}

.my-masonry-grid {
  display: flex;
  justify-content: center;
  margin-right: 10px;
  margin-top: 20px;
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 10px;
  background-clip: padding-box;
}

.my-masonry-grid_column > div {
  background: grey;
  margin-bottom: 10px;
}

.input-form {
  width: 700px;
  padding: 0.5em;
  &.input-recognize {
    background-color: hsl(2, 57%, 40%);
    background-image: repeating-linear-gradient(
        transparent,
        transparent 50px,
        rgba(0, 0, 0, 0.4) 50px,
        rgba(0, 0, 0, 0.4) 53px,
        transparent 53px,
        transparent 63px,
        rgba(0, 0, 0, 0.4) 63px,
        rgba(0, 0, 0, 0.4) 66px,
        transparent 66px,
        transparent 116px,
        rgba(0, 0, 0, 0.5) 116px,
        rgba(0, 0, 0, 0.5) 166px,
        rgba(255, 255, 255, 0.2) 166px,
        rgba(255, 255, 255, 0.2) 169px,
        rgba(0, 0, 0, 0.5) 169px,
        rgba(0, 0, 0, 0.5) 179px,
        rgba(255, 255, 255, 0.2) 179px,
        rgba(255, 255, 255, 0.2) 182px,
        rgba(0, 0, 0, 0.5) 182px,
        rgba(0, 0, 0, 0.5) 232px,
        transparent 232px
      ),
      repeating-linear-gradient(
        270deg,
        transparent,
        transparent 50px,
        rgba(0, 0, 0, 0.4) 50px,
        rgba(0, 0, 0, 0.4) 53px,
        transparent 53px,
        transparent 63px,
        rgba(0, 0, 0, 0.4) 63px,
        rgba(0, 0, 0, 0.4) 66px,
        transparent 66px,
        transparent 116px,
        rgba(0, 0, 0, 0.5) 116px,
        rgba(0, 0, 0, 0.5) 166px,
        rgba(255, 255, 255, 0.2) 166px,
        rgba(255, 255, 255, 0.2) 169px,
        rgba(0, 0, 0, 0.5) 169px,
        rgba(0, 0, 0, 0.5) 179px,
        rgba(255, 255, 255, 0.2) 179px,
        rgba(255, 255, 255, 0.2) 182px,
        rgba(0, 0, 0, 0.5) 182px,
        rgba(0, 0, 0, 0.5) 232px,
        transparent 232px
      ),
      repeating-linear-gradient(
        125deg,
        transparent,
        transparent 2px,
        rgba(0, 0, 0, 0.2) 2px,
        rgba(0, 0, 0, 0.2) 3px,
        transparent 3px,
        transparent 5px,
        rgba(0, 0, 0, 0.2) 5px
      );
  }

  &.input-gallery {
    background-color: hsl(34, 53%, 82%);
    background-image: repeating-linear-gradient(
        45deg,
        transparent 5px,
        hsla(197, 62%, 11%, 0.5) 5px,
        hsla(197, 62%, 11%, 0.5) 10px,
        hsla(5, 53%, 63%, 0) 10px,
        hsla(5, 53%, 63%, 0) 35px,
        hsla(5, 53%, 63%, 0.5) 35px,
        hsla(5, 53%, 63%, 0.5) 40px,
        hsla(197, 62%, 11%, 0.5) 40px,
        hsla(197, 62%, 11%, 0.5) 50px,
        hsla(197, 62%, 11%, 0) 50px,
        hsla(197, 62%, 11%, 0) 60px,
        hsla(5, 53%, 63%, 0.5) 60px,
        hsla(5, 53%, 63%, 0.5) 70px,
        hsla(35, 91%, 65%, 0.5) 70px,
        hsla(35, 91%, 65%, 0.5) 80px,
        hsla(35, 91%, 65%, 0) 80px,
        hsla(35, 91%, 65%, 0) 90px,
        hsla(5, 53%, 63%, 0.5) 90px,
        hsla(5, 53%, 63%, 0.5) 110px,
        hsla(5, 53%, 63%, 0) 110px,
        hsla(5, 53%, 63%, 0) 120px,
        hsla(197, 62%, 11%, 0.5) 120px,
        hsla(197, 62%, 11%, 0.5) 140px
      ),
      repeating-linear-gradient(
        135deg,
        transparent 5px,
        hsla(197, 62%, 11%, 0.5) 5px,
        hsla(197, 62%, 11%, 0.5) 10px,
        hsla(5, 53%, 63%, 0) 10px,
        hsla(5, 53%, 63%, 0) 35px,
        hsla(5, 53%, 63%, 0.5) 35px,
        hsla(5, 53%, 63%, 0.5) 40px,
        hsla(197, 62%, 11%, 0.5) 40px,
        hsla(197, 62%, 11%, 0.5) 50px,
        hsla(197, 62%, 11%, 0) 50px,
        hsla(197, 62%, 11%, 0) 60px,
        hsla(5, 53%, 63%, 0.5) 60px,
        hsla(5, 53%, 63%, 0.5) 70px,
        hsla(35, 91%, 65%, 0.5) 70px,
        hsla(35, 91%, 65%, 0.5) 80px,
        hsla(35, 91%, 65%, 0) 80px,
        hsla(35, 91%, 65%, 0) 90px,
        hsla(5, 53%, 63%, 0.5) 90px,
        hsla(5, 53%, 63%, 0.5) 110px,
        hsla(5, 53%, 63%, 0) 110px,
        hsla(5, 53%, 63%, 0) 140px,
        hsla(197, 62%, 11%, 0.5) 140px,
        hsla(197, 62%, 11%, 0.5) 160px
      );
  }
}
